.quote {
  margin: 0;
  padding:0;
}

.qu {
  padding: 1px auto;
  margin: 1px auto;
  text-align: center;
  font-family: 'Snell Roundhand';
  font-size: 25px;  
}
.auth {
  padding: 1px auto;
  margin: 3px 10px 20px auto; /*Top Right Bottom Left*/
  
  text-align: right;

  /* font-family: 'Brush Script MT';  */
}


/* .quote h4, p {
  padding: 1px auto;
  margin: 1px auto;
  text-align: center;
} */

.quote p:hover{
  position:relative;
  z-index: 999;
  background-color: #e7d1ec;
  border-radius: 10px;
}