.footer{
  margin: 1% auto 0 auto; /*Top | Right | Bottom | Left*/
  height:100%;
  overflow: auto;
  background-color: #8a73a3;
  position: -webkit-sticky; /* Safari */
  bottom: 0;
  position:bottom;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  overflow:auto;
}

.footer a{
text-decoration:none;
color: darkgray;
transition:0.5s;
padding: 0 1%; /*Top, Bottom || Right, Left*/
}

.footer a:hover{
color:lightgray;
}

.footer .row ul li{
list-style-type: none;
}

.links {
  padding: 1.5% 30% 2% 30%; /*Top | Right | Bottom | Left*/
  width:100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: center;
}

.footer p {
    color: #fff;
    margin: 0 auto; /*Top, Bottom || Right, Left*/
}

.boxes {
  padding:0;
  margin:3px;
  border: 3px solid rgba(0, 0, 0, 0.164);
  background-color: #e7d1ec;
  border-radius: 15px;
  min-height:450px;
  overflow: hidden;
}

.boxes h3 {
  text-align: center;
  margin: 2px 30px; /*Top, Bottom || Right, Left*/
  border-image: 
   linear-gradient(0deg,#B497D6 2px,#0000 0) fill 0;
}

.boxes:hover {
  overflow: visible;
}

.word {
  margin: 0;
  padding:0;
}

.word h4, p {
  padding: 1px auto;
  margin: 1px auto;
  text-align: center;
}

.word p:hover{
  position:relative;
  z-index: 999;
  background-color: #e7d1ec;
  border-radius: 10px;
}

iframe{
  height:85%;
  width: 90%;
  padding:0;
  margin: 5px auto; /*Top, Bottom || Right, Left*/
  border-width:0;
  border-radius: 20px;
}

.container {
  height:80%;
  display:flex; 
  flex-direction: column; 
  background-color: #B497D6;
}

@media screen and (min-width: 768px) {
  .container {
    display:grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 17%;
    grid-template-rows: 33% 33% 34%;
    height:80%
  }
  .boxes {
    min-height: auto;
  }
}

.app {
  height:100vh;
  display:flex;
  flex-direction: column;;
}

#one {
  grid-column: 1 / span 6;
}
#two {
  grid-column:1;
  grid-row:1 /span 3;
}
#three {
  grid-column:2 / span 3;
  grid-row:1;
}
#four {
  grid-column:2 / span 2;
  grid-row:2;
}
#five {
  grid-column:4;
  grid-row:2;
}
#six {
  grid-column:2;
  grid-row:3;
}
#seven {
  grid-column:3;
  grid-row:3;
}
#eight {
  grid-column:4;
  grid-row:3;
}
#nine {
  grid-column:5;
  grid-row:3;
}
#ten {
  grid-column:5 / span 2;
  grid-row:1 / span 2;
}
#eleven {
  grid-column:6;
  grid-row:3;
}

#three ol{
  text-align: left;
}

#ten {
  text-align: center;
}

#root {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
h2{
  text-align: center;
  font-size: 230%;
  margin:18px 0; /*Top, Bottom || Right, Left*/
}