.boxes {
  padding:0;
  margin:0;
  border: 3px solid #ddd;
  background-color: #BFACAA;
  /* backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px); */
}
.container {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  height:80%
}
.app {
  height:100vh;
}

#one {
  grid-column: 1 / span 6;
}
#two {
  grid-column:1;
  grid-row:1 /span 3;
}
#three {
  grid-column:2 / span 3;
  grid-row:1;
}
#four {
  grid-column:2 / span 2;
  grid-row:2;
}
#five {
  grid-column:4;
  grid-row:2;
}
#six {
  grid-column:2;
  grid-row:3;
}
#seven {
  grid-column:3;
  grid-row:3;
}
#eight {
  grid-column:4;
  grid-row:3;
}
#nine {
  grid-column:5;
  grid-row:3;
}
#ten {
  grid-column:5 / span 2;
  grid-row:1 / span 2;
}
#eleven {
  grid-column:6;
  grid-row:3;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
   */
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
