.boxes {
  padding:0;
  margin:3px;
  border: 3px solid rgba(0, 0, 0, 0.164);
  background-color: #e7d1ec;
  border-radius: 15px;
  min-height:450px;
  /* backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px); */
}

.boxes h3 {
  /* padding: 0; */
  /* margin-top:2px; */
  text-align: center;
  margin: 2px 30px;
  border-image: 
   linear-gradient(0deg,#B497D6 2px,#0000 0) fill 0;
}

iframe{
  height:85%;
  width: 90%;
  padding:0;
  margin: 5px auto;
  /* margin-top: 1%;; */
  border-width:0;
  /* scrolling:"no"; */
  border-radius: 20px;
  /* color:black; */
}
 /* style="border-width:0" width="500" height="400" frameborder="0" scrolling="no" */

/* h2{
  transition:0.2s;
}

h2:hover {
  transform:translateX(0.5%);
   padding-left: 1%; 
}
*/


.container {
  height:80%;
  display:flex; 
  flex-direction: column; 
  background-color: #B497D6;
}

@media screen and (min-width: 768px) {
  .container {
    display:grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 17%;
    grid-template-rows: 33% 33% 34%;
    /* grid-template-rows: auto auto auto; */
    height:80%
  }
  .boxes {
    min-height: auto;
  }
}

.app {
  height:100vh;
}

#one {
  grid-column: 1 / span 6;
}
#two {
  grid-column:1;
  grid-row:1 /span 3;
}
#three {
  grid-column:2 / span 3;
  grid-row:1;
}
#four {
  grid-column:2 / span 2;
  grid-row:2;
}
#five {
  grid-column:4;
  grid-row:2;
}
#six {
  grid-column:2;
  grid-row:3;
}
#seven {
  grid-column:3;
  grid-row:3;
}
#eight {
  grid-column:4;
  grid-row:3;
}
#nine {
  grid-column:5;
  grid-row:3;
}
#ten {
  grid-column:5 / span 2;
  grid-row:1 / span 2;
}
#eleven {
  grid-column:6;
  grid-row:3;
}

#three ol{
  text-align: left;
}

#ten {
  text-align: center;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
   */
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  /* text-align: center; */
}
h1{
  text-align: center;
  margin:15px 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
